@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display&display=swap');

.headerTop {
    background-color: white;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: 0.7s;
    z-index: 999;
    border-bottom: 2px solid black;
}

.firstHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.navButtons {
    color: black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    background: none;
    border: none;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.manButton {
    opacity: 75%;
}

.navButtons:hover {
    opacity: 70%;
    cursor: pointer;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 500;
    font-size: 20px;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 5%;
    margin-right: 2%;
    width: 350px;
}

.homeButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.homeButton:hover {
    font-size: 15px;
    transition: all 0.5s ease;
}

.menuImage {
    padding-left: 10px;
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding-right: 6px;
    padding-top: 5px;
    display: none;
}

.registerImage {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.buttonStyle {
    background: none;
    background-color: chocolate;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 36px;
    padding: 0 32px;
    cursor: pointer;
}

.menuButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 0;
}

.Menu {
    display: flex;
    align-items: center;
}

.registerButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 0;
}

.FAQS {
    display: flex;
    justify-content: space-between;
    width: 230px;
    margin-top: 30px;
    margin-right: 20px;
    align-items: center;
    padding: 10px;
}

.heartImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.barra {
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 40px;
}

.bolsaCompra {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.helpImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
}

.tall {
    height: 100px;
}

.searchImage {
    width: 30px;
    height: 24px;
    padding-right: 5px;
    cursor: pointer;
}

.searchBar {
    margin-left: 30px;
    display: flex;
    background-color: transparent;
    width: 240px;
    margin-top: 25px;
    height: 25px;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
}

.searchInput {
    all: unset;
    margin-left: 10px;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
}

.accesos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.botones {
    margin-right: 60px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.botones:hover {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.arrow-up {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    background: none;
    border: none;
    padding: 0px;
    opacity: 0;
    transition: .4s opacity;
}

.arrow-up.visible {
    opacity: 1;
}

.sidebar {
    display: flex;
    background-color: white;
    padding: 20px;
    z-index: 10;
    top: 61.5px;
    width: 40%;
    height: 100%;
    transform: translateX(-100%);
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    transition: transform 0.7s;
}

.sidebar.open {
    left: 0px;
    transform: translateX(0);
}

.secondSidebar {
    display: none;
    background-color: white;
    padding: 10px;
    z-index: 15;
    top: 92px;
    left: 0;
    width: 20%;
    height: 20%;
    margin-left: 1220px;
    box-sizing: border-box;
    border: 2px solid black;
    position: fixed;
    transition: 0.7s;
}

.secondSidebar.open {
    display: flex;
    flex-direction: column;
}

.thirdSidebar {
    display: none;
    background-color: white;
    padding: 10px;
    z-index: 15;
    top: 92px;
    left: 0;
    width: 20%;
    height: 20%;
    margin-left: 1027px;
    box-sizing: border-box;
    border: 2px solid black;
    position: fixed;
    transition: 0.7s;
}

.thirdSidebar.open {
    display: flex;
    flex-direction: column;
}

.xImage {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.modal {
    position: fixed;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s;
}

.content {
    width: 450px;
    height: auto;
    margin-bottom: 350px;
    margin-right: 35px;
    margin-top: 150px;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.firstsInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

.secondsInputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.inputStyle {
    border-radius: 5px;
    background-color: rgba(245, 247, 246, 255);
    padding: 11px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: black;
    margin-bottom: 10;
}

.inputWidthName {
    margin-bottom: 0;
}

.text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.show {
    visibility: visible;
    opacity: 1;
}

.selectTitles {
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}

h2 {
    margin: 0;
    margin-right: 295px;
    font-size: 15px;
}

.genderText {
    margin: 0;
    margin-right: 375px;
    font-size: 15px;
}

.birthdayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.birthdaySelector {
    border-radius: 4px;
    border-color: rgba(216, 219, 223, 255);
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    padding: 0 8px;
    width: 125px;
}

.genderContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.genderStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccd0d5;
    font-weight: normal;
    color: black;
    height: 36px;
    padding-left: 10px;
    margin-right: 10px;
    width: auto;
    border-radius: 4px;
    width: 125px;
    margin-left: 0px;
}

.xImage {
    width: 20px;
    height: 20px;
}

.shopCart {
    width: 25px;
    height: 25px;
}

.wishHeart {
    width: 25px;
    height: 25px;
}

.shopContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whishContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.shopText {
    display: flex;
    align-items: center;
}

.whishText {
    display: flex;
    align-items: center;
}

.cestContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cestText {
    margin-top: 50px;
    opacity: 30%;
}

.sectionBackground {
    background-color: white;
    margin-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;

}

.section{
    background-color: white;
    padding-right: 100px;
    padding-left: 100px;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/BlancaDel-removebg-preview.png?alt=media&token=5b4e065f-019c-463c-89e6-4be1028744d1);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.priceContainer {
    padding: 10px;
    margin-top: 20px;
}

.priceText {
    margin-left: 80px;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shirtCard:hover {
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/BlancaDet-removebg-preview.png?alt=media&token=38ba3c56-ba8a-4879-88de-f86b3ac1b904);
}

.SecondshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/NegraDel-removebg-preview.png?alt=media&token=bbda5c50-129c-462c-9ff3-6729499306bd);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.SecondshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/NegraDet-removebg-preview.png?alt=media&token=d708d9de-2217-4498-bb55-d6600fa9eb7e);
}

.ThirdshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/PoloDelante-removebg-preview.png?alt=media&token=c00d1604-fe9a-4978-8b6f-a1e8a0371c17);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.ThirdshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/PoloDetras-removebg-preview.png?alt=media&token=32fae127-2ad3-4b0f-8f34-c68e1e903600);
}

.FourshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/PoloBlancoDel1-removebg-preview.png?alt=media&token=8d5c2d3e-ae5f-44cf-a0d4-c5591e247ccd);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.FourshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/PoloBlancoDet-removebg-preview.png?alt=media&token=68662256-7e10-43f2-85ea-b4f961e42e1a);
}

.FifthshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/SudaNegraDelante-removebg-preview.png?alt=media&token=7a88ba44-3662-488d-baf0-26531d346bfc);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.FifthshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/SudaNegraDetras.png?alt=media&token=1591cb62-7e32-4b3c-b635-0c53e64138dd );
}

.SixshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/JerseyDel-removebg-previewV.png?alt=media&token=3cd5e735-5180-408f-a58f-f94880e02ccd);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.SixshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/JerseyDet-removebg-preview.png?alt=media&token=2ec335fe-7a7e-47e9-9a86-2ffe30db676d);
}

.SevenshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/SudaDel-removebg-preview.png?alt=media&token=46644f1e-0caa-40c3-a190-50bead3d5ad7);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.SevenshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/SudaDet-removebg-preview.png?alt=media&token=4a787e61-3018-4b6a-9519-312c8d29510d);
}

.EightshirtCard {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/JerseyDel-removebg-preview.png?alt=media&token=e3bf88b5-ae2a-4f64-8bd3-39c2b0793977);
    width: 460px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.EightshirtCard:hover {
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 460px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/poer-acb1a.appspot.com/o/JerseyDet-removebg-previewN.png?alt=media&token=4e321eb7-e4d4-4026-ad6e-b2445a4561f4);
}

footer {
    background-color: black;
    color: white;
    padding: 50px;
}

.footContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutUsContainer {
    width: 30%;
}

.aboutUs {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 0;
}

.aboutUsText {
    font-size: 15px;
}


.access {
    font-size: 20px;
    margin-bottom: 20px;

}

.accessText {
    font-size: 15px;
}

li {
    list-style: none;
    cursor: pointer;
}

.footerImages {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.secondFootContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact {
    font-size: 15px;
}

.contactTitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.phone {
    display: flex;
    flex-direction: row;
}
.email {
    display: flex;
    flex-direction: row;
}


.lastText {
    font-size: 10px;
    margin-top: 20px;
    margin-right: 220px;
    font-weight: bold;
}

.inputStyleEmail {
    border-radius: 5px;
    background-color: rgba(245, 247, 246, 255);
    padding: 11px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: black;
    margin-bottom: 10;
    width: 250px;
}

.emailContainer {
    display: flex;
    flex-direction: column;
}

.sendButton {
    width: 250px;
    border: none;
    padding: 5px;
    background-color: rgba(164,129,103,255);
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.newsContainer {
    display: flex;
}

.newsText {
    font-size: 3vw;
    display: flex;
    position: absolute;
    color: white;
    margin-right: 200px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    z-index: 999;
    letter-spacing: 10px;
}

.emailClass {
    margin-right: 3%;
}