.headerTop {
    background-color: black;
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/clothing-store-in-shopping-mall-boutique-shop-interior-blur-defocused-picture-id874194120?b=1&k=6&m=874194120&s=170667a&w=0&h=IeLXGrdkgy4rfHpLvwYHrl43Z7sHehvE5z75ET0Hu_A=);
    background-position: center;
    background-size: cover;
    margin: 0;
}

h1 {
    margin-left: 340px;
    color: white;
}

.colorTitle {
    color: lightblue;
}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homeButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.homeButton:hover {
    font-size: 15px;
    transition: all 0.5s ease;
}

.menuImage {
    padding-left: 10px;
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding-right: 6px;
}

.menuImage:hover {
    width: 42px;
    height: 38px;
    transition: all 0.1s ease;
}

.registerImage {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.registerImage:hover {
    width: 22px;
    height: 22px;
    transition: all 0.1s ease;
}

.menuButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding-left: 0;
}

.Menu {
    display: flex;
    align-items: center;
}

.registerButton {
    background-color: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 0;
}

.FAQS {
    display: flex;
    align-items: center;
    padding: 10px;
}

.barra {
    color: white;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 25px;
}

.bolsaCompra {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bolsaCompra:hover {
    width: 22px;
    height: 22px;
    transition: all 0.1s ease;
}

.helpImage {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.helpImage:hover {
    width: 22px;
    height: 22px;
    transition: all 0.1s ease;
}

.containerCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    padding: 10px;
    margin-right: 50px;
    background-image: url(https://www.hola.com/fashion/imagenes/belleza/2019091768050/mariano-di-vaio-fragancia-masculina-dolce-gabbana/0-289-926/dolce-gabbana-k-z.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .2s;
    border: 2px solid black;
}

.card2 {
    padding: 10px;
    margin-right: 50px;
    background-image: url(https://cdn.pixabay.com/photo/2021/03/21/23/06/portrait-6113319_960_720.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 600px;
    cursor: pointer;
    transition: transform .2s;
    overflow: hidden;
    border: 2px solid black;
}

.card3 {
    padding: 10px;
    background-image: url(https://i.pinimg.com/550x/c6/db/91/c6db91d97da7f672b3a3559204895c04.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 600px;
    cursor: pointer;
    transition: transform .2s;
    overflow: hidden;
    border: 2px solid black;
}

.tall {
    height: 600px;
}

.searchImage {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.searchBar {
    display: flex;
    background-color: white;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    align-items: center;
}

.searchInput {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: black;
}

.accesos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.botones {
    margin-right: 60px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.botones:hover {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.arrow-up {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;

    background: none;
    border: none;
    padding: 0px;
    opacity: 0;
    transition: .4s opacity;
}

.arrow-up.visible {
    opacity: 1;
}

.sidebar {
    display: flex;
    background-color: white;
    opacity: 75%;
    padding: 20px;
    z-index: 10;
    top: 50px;
    width: 20%;
    height: 100%;
    transform: translateX(-100%);
    bottom: 0;
    box-sizing: border-box;
    position: fixed;
    transition: transform 0.7s;
}

.sidebar.open {
    left: 0px;
    transform: translateX(0);
}

.xImage {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.modal {
    position: fixed;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s;
}

.content {
    width: 300px;
    height: auto;
    background-color: white;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    overflow: hidden;
    margin-top: -50px;
    transition: margin-top 0.5s;
}

.show {
    visibility: visible;
    opacity: 1;
}

.xImage {
    width: 20px;
    height: 20px;
}

.nombreCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 424px;
}

.textCard {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerCards {
    margin-top: 50px;
}

.primeraTarjeta {
    transition: transform .2s;
}

.srgundaTarjeta {
    transition: transform .2s;
}

.terceraTarjeta {
    transition: transform .2s;
}

.primeraTarjeta:hover{ 
    transform: scale(1.02);
}

.srgundaTarjeta:hover {
    transform: scale(1.02);
}

.terceraTarjeta:hover {
    transform: scale(1.02);
}